
@{
    ViewBag.Title = "Changelog";
    Layout = "~/Views/HSE/Shared/_Layout.cshtml";
}

<h2>Changelog</h2>

<h4>PROCHAINE VERSION : V.1.2.0 </h4>
   
-DIALOGUE SECURITE >> BDD / Classes du domaine<br />
-DS >> Controlleurs / Repositories / Back Office<br />
-DS >> FO / Design<br />
-DS >> Fonctionnalité spécifiques (plusieurs Personnes reliées …)<br />

<h4>V.1.1.2 (17/10/2015)</h4>
<div>
    -Ajout d'un filtre de recherche par criticité (Chiffre & Ensembles FAIBLE/MOYEN/HAUT)<br />
    -Mail au responsable d'action et diffusion >> Description des actions dans le corps du mail<br />
    -Bouton permettant de télécharger le tutorial<br />
    -Couper le tableau de stats en 2 >> Par action et par Fiche Sécurité<br />

</div>
<h4>V.1.1.1 (10/10/2015)</h4>
<div>
    -Réajustement du tableau des stats !: Couleurs, Détails déroulables<br />
    -Ergonomie<br />
    -Stats pour les services<br />
    -Impression FicheSécurité<br />
</div>
<h4>V.1.1.0 (30/04/2015)</h4>
<div>
    -Clôture globale de la fiche<br />
    -Ergonomie<br />
    -Stats pour les services<br />
    -Impression FicheSécurité<br />
</div>

<h4>V.1.0.2 (30/03/2015)</h4>
<div>
    -Refonte du tableau de recherche<br/>
    -Amélioration :  Tableau de recherche : Recherche des actions<br />
    -Stat : Pyramide<br />
    -Stat : Tableau Recap<br />

</div>

<h4>V.1.0.1 (16/02/2015)</h4>
<div>
    -Gestion des droits par le superviseur<br />
    -Numérotations des FS antérieures à 2015<br />
</div>

<h4>V.1.0.0 (16/01/2015)</h4>
<div>
    -Mise en production<br />
    -Listes LQN / RFS<br />
    -Emails de diffusion<br />
</div>

<h4>V.0.4.8.5 (15/10/2014)</h4>
<div>
    -Mise en forme de l'email de diffusion de FS<br />
    -Vérification de la validité d'une action avant de l'enregistrer
</div>

<h4>V.0.4.8.4 (14/10/2014)</h4>
<div>
    -Mise en place des listes définitives DLF et STA<br />
    -Mise en place de l'alimentation des bases Acceptance et Production<br />
    -Lancement d'Acceptance puis de Production<br />
</div>

<h4>V.0.4.8.3 (13/10/2014)</h4>
<div>
    -Changements de détails concernant la Fiche Sécurité (érgonomie)<br />
    -> Regroupement des champs, Criticité en rouge si > 12 ...
</div>

<h4>V.0.4.8.2 (10/10/2014)</h4>
<div>
    -Revue des listes (Suppression des type de lieux, et suppression des types de poste de travail)<br />
</div>

<h4>V.0.4.8.1 (09/10/2014)</h4>
<div>
    -Possibilité de paramétrer les emails de diffusion d'une Fiche Sécurité, refus d'un plan d'action<br/>
    -Création d'une page de paramétrage <br />
    -Création de ce ChangeLog <br/>
    <br />
    -Résolution des bugs :<br /> 
    &nbsp;&nbsp;-Validation de la vue après enregistrement

</div>
