body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.input-xs, select.input-xs {
  height: 20px;
  line-height: 20px;
  padding:0px;
}

.label-xs {
    padding-top:0px;
    font-size:small;
}

.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  height: 20px;
  padding: 2px 2px;
  font-size: small;
  line-height: 12px;
  border-radius: 3px;
}

/* navbar */
.navbar-primary .navbar { /*background:#9f58b5;*/ border-bottom:none; }
/*.navbar-primary .navbar .nav > li > a {color: #501762;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #8e49a3;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}*/
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
/*.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}*/
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }


#loading{
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}

#Table tbody tr{
    cursor: pointer;
}

.limited{
    white-space: nowrap;
    width: 100%;                   
    overflow: hidden;
    text-overflow: ellipsis;
}

/* don't show the x for text inputs */
::-ms-clear {
    width : 0;
    height: 0;
}

/* don't show the eye for password inputs */
::-ms-reveal {
    width : 0;
    height: 0;
}

.StatistiquesPyramideTable th{
    padding: 10px;
}

.ui-tooltip { 
    background: #ECED89;  
    color: black;
    max-width: 600px;
    width: 600px;
    border-style: dashed;
    border-width: 1px;
    padding:10px;
}


th.rotate45 {
  /* Something you can count on */
  height: 150px;
  white-space: nowrap;
}

th.rotate45 > div {
  transform: 
    /* Magic Numbers */
    translate(0px, 66px)
    /* 45 is really 360 - 45 */
    rotate(310deg);
  width: 10px;
}
th.rotate45 > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

@media screen {
    .bodyAdjustForSecondNavBar {
        margin-top: 68px;
        z-index: 998;
    }
}

@media print {
    body {
        padding-top:0px;
    }
}


/*
   Vertical text
   by @kizmarh
*/
.vertical-text {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
.vertical-text__inner {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
}
/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
}

div.floatright { display:inline; float:right; padding-left:5px; }

table.DSStatTable th {
    border: 1px solid black;
}


ul.dropdown-menu > .dropdown-submenu{position:relative;}
ul.dropdown-menu > .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
ul.dropdown-menu > .dropdown-submenu:hover>.dropdown-menu{display:block;}
ul.dropdown-menu > .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
ul.dropdown-menu > .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
ul.dropdown-menu > .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
 
.dataTables_processing {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 100;
}