
@{
    ViewBag.Title = "Changelog";
    Layout = "~/Views/QSE/Shared/_Layout.cshtml";
}

<h2>Changelog</h2>

<h4>V.0.5.0 (10/12/2014)</h4>
<div>
    -Tableau de recherche Ok<br />

</div>

<h4>V.0.2.1 (10/12/2014)</h4>
<div>
    -Formulaire Non Conformite Ok<br />
    -Liste des actions<br />
    -Ajout / Suppression / Modification actions<br />
    -Tableau de recherche opérationnel, mais à finir<br />
    
</div>

<h4>V.0.1.1 (21/10/2014)</h4>
<div>
    -Icone QSE<br />
    -Menu QSE<br />
    -Droits QSE<br />
    -Commencement du Formulaire Non conformite<br />
    -Alimentation des listes Origine, Domaine, Gravite<br />
</div>

