<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--Ajouté pour connexion au serveur Antelope SQL Refresco DLF-S12VM10-->
   
  <connectionStrings>
    <add name="AntelopeEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLF-S12VM10;initial catalog=Antelope;user id=sa;password=8rj589oH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="GLPI" connectionString="Database=glpi-prod; Data Source=dlf-s12k04; User Id=export; Password=Exp0rt;" providerName="Mysql.Data.Myslq.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
   
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
