<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AntelopeEntities"
         connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RFS-PW7M11\SQLEXPRESS;initial catalog=Antelope;user id=sa;password=8rj589oH;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>

  </connectionStrings>

  <activeDirectory domainName="refresco.local"
                   xdt:Transform="SetAttributes" />

</configuration>
