@{
    ViewBag.Title = "A propos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style type="text/css">
    body {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90% 100%;
        background-attachment: fixed;
        background-image: url(/Content/images/FOND_INTRANET.jpg);
    }
</style>

<p>Application Antelope @@Refresco</p>
