@model string
<script type="text/template" id="@Model">

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-primary" style="border-color: #EB8C07;">
                <div class="panel-heading" style="background-color :#EB8C07; color: white">
                    <span style="text-decoration:underline;font-weight:bold;">DIALOGUES SECURITE</span>
                </div>
                <div class="panel-body">

                    <table id="Table" class="stripe hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Code</th>
                                <th>Date</th>
                                <th></th>
                                <th>Contexte</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

</script>
