@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style type="text/css">
    body {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90% 100%;
        background-attachment: fixed;
        background-image: url(/Content/images/FOND_INTRANET.jpg);
    }
</style>

<address>
    REFRESCO FRANCE<br />
    2885 Route de Pangons<br />
    26260 MARGES
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:julien.cokelaere@refresco.com">julien.cokelaere@refresco.com</a><br />
</address>