@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90% 100%;
        background-attachment: fixed;
        background-image: url(/Content/images/FOND_INTRANET.jpg);
    }
</style>



<br>

<div class="row">
    <div class="col-md-6">
    </div>

    <div class="col-md-3" style="padding: 5px">
        <div style="background-color: #FD9910; padding: 5px; ">
            <h2>Bienvenue</h2>
            <p>Bienvenue sur le portail Intranet Refresco France.</p>
            <p>Vous y trouverez des applications et des espaces dédiés aux services de Refresco.</p>
            <p>Celles du service Informatique et Sécurité Environnement sont en cours de développement</p>
            <p></p>
            <p></p>
        </div>

       <br/>
        <br />

            <div style="background-color: #8BAC27; padding: 5px">
                <h2>Sécurité Environnement</h2>
                <p>
                    Cette application permettra de recenser les différents accidents, risques, non-conformités...
                </p>
                <p>
                    Les informations seront réparties par site, tout en étant partagées à tous.
                </p>
                <p>
                    Ces données recueillies donneront lieu à une analyse globale de la sécurité.
                </p>
            </div>
      










    </div>

    <div class="col-md-3">
        
        <div class="row">

            <div class="col-md-12" style="padding: 5px">
                <div class="row">
                    <div class="col-md-6">
                        <div style="padding: 5px; width:130px; height:130px">
                            <center><a href="/IndicateurSIHome"><img alt="" width="96" src="~/Content/images/IndicateurSI/ICONE_APPLI_SI.png" /></a></center>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="padding: 5px; width:130px; height:130px">
                            <center><a href="/HSEHome"><img alt="" width="129" src="~/Content/images/IndicateurSI/ICONE_APPLI_SE2.png" /></a></center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="padding: 5px; width:130px; height:130px">
                            <center><a href="/QSEHome"><img alt="" width="129" src="~/Content/images/ICONE_APPLI_QSE.png" /></a></center>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="padding: 5px; width:130px; height:130px">
                            <center><a href="/ServicesHome"><img alt="" width="129" src="~/Content/images/Services/ICONE_APPLI_SERVICES.png" /></a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12" style="padding: 5px">
                <div style="background-color: #C52031; padding: 5px">
                    <h2>Système d'Information</h2>
                    <p>Cet espace permet d'acceder à plusieurs indicateurs du service Informatique, nottement autour des tickets (répartition, délais, satisfaction... )</p>
                    <p>Il permet aussi d'avoir un aperçu du volume de sauvegardes effectuées ainsi que du volume d'emails échangés</p>
                    <p>Enfin, nos équipes peuvent y enregistrer leurs interventions hors temps de travail.</p>
                    
                </div>
            </div>

       </div>

        <div class="row">
          

            <div class="col-md-12" style="padding:5px">
                <div style="background-color: #FD9910; padding: 5px; ">
                    <h2>Vos news ici!</h2>
                    <p>Le portail est aussi un outil de communication.</p>
                    <p>Contactez-nous pour déposer vos textes ici!</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>





    </div>
</div>



<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

