<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Test</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://antelope-test:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://DLF-S12VM09:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Antelope_Test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>DLF-S12VM09\UserWebDeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AntelopeContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RFS-PW7M11\SQLEXPRESS;Initial Catalog=Antelope;User ID=sa;Password=8rj589oH" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AntelopeContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=RFS-PW7M11\SQLEXPRESS;Initial Catalog=Antelope;User ID=sa;Password=8rj589oH;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TestContext" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Antelope.Models.TestContext, Antelope" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AntelopeEntities" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Antelope.Infrastructure.EntityFramework.AntelopeEntities, Antelope.Infrastructure.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GLPI" Order="5" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Database=glpi-prod; Data Source=dlf-s12k04; User Id=exportjc; Password=Exp0rt;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GLPI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=glpi-prod; Data Source=dlf-s12k04; User Id=exportjc; Password=Exp0rt;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AntelopeContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AntelopeEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GLPI-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestContext-Web.config Connection String" />
  </ItemGroup>
</Project>